# /etc/systemd/system/flask.service
[Unit]
Description=WSGI App for ICAP Testing UI Front End
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/glasswall/home/p-k8-jmeter-test-engine/jmeter-icap/scripts
ExecStart=/usr/glasswall/home/p-k8-jmeter-test-engine/scripts/exec.sh
Restart=always

[Install]
WantedBy=multi-user.target
